* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #ccef;
  display: flex;
  flex-direction: column;
}

#centre{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 300px;
  border: 1px solid black;
}
